:root {
  --main-bg-color: #e5e5e5;
  --main-msg-bg-color: #f2f2f2;
  --main-div-menu: #46a566;
}

/*body customizing*/
body {
  background-color: var(--main-bg-color);
}
  
* {
  box-sizing: border-box;
}

/*chat-name*/
div#chat-name {
  font-style: italic;
  width: 100%;
  height: 5%;
  background-color: aquamarine;
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px;
}

/*input customizing*/
section {
  width: 80%;
  overflow: visible;
  margin: 20px;
}

section#message-input-section {
  position: fixed;
  bottom: 2%;
  left: 1%;
}

.textable {
  height: 30px;
  width: 20%;
  background-color: var(--main-msg-bg-color);
  border-radius: 4px;
  border-top: 2px solid #f5f500;
  border-left: 2px solid #f8f32b;
  border-bottom: 2px solid #ffc600;
  border-right: 2px solid #ffd700;
}

/*input button*/
button {
  visibility: hidden;
  cursor: pointer;
}

button > img {
  visibility: visible;
  border-radius: 30%;
  border-top-right-radius: 3%;
  border-top-left-radius: 50%;
  border: 1px solid rgb(26, 71, 45);
  width: 30px;
  height: 30px;
}

button > img:hover {
  border: 1px solid var(--main-msg-bg-color);
}

/*destination*/
section#message-input-section div.destination{
  position: fixed;
  bottom: 6%;
  right: 40%
}

section#message-input-section div.destination p {
  display: inline;
}

section#message-input-section div.destination p#destination {
  font-style: italic;
}

/*div chat customizing*/
div.chat {
  height: 80%;
  position: absolute;
  overflow: scroll;
  bottom: 90px;
  left: 35px;
  width: 65%;
}

div.chat div {
  position: relative;
  width: 90%;
  height: auto;
  padding-left: 5px;
  border-radius: 5px;
  background-color: var(--main-msg-bg-color);
  overflow: auto;
  margin: 10px;
  float: left;
}

div.chat img.avatar {
  width: 40px;
  height: 40px;
  margin: 10px;
  float: left;
}

p.message {
  margin: 10px;
  margin-bottom: 25px;
  word-break: break-word; 
}

p.time {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 5px;
}

/*menu div*/
div.menu {
  position: absolute;
  left: 70%;
  top: 0%;
  background: var(--main-div-menu);
  height: 100%;
  width: 30%;
  border-top: 1px solid darkgray;
  border-left: 1px solid darkgray;
  border-bottom: 1px solid darkgray;
}

/*avatar section*/
.avatar {
  width: 70px;
  height: 70px;
  border: 1px solid #999;
  border-radius: 50%;
  float: left;
  margin: 10px;
  padding: 1px;
  background-color: white;
}

div.menu > .avatar:hover {
  opacity: 0.5;
  cursor: pointer;
}

input#change-avatar {
  display: none;
}

/*nickname section*/
input#nickname {
  border: none;
  border-bottom: 2px solid darkgray;
  background-color: var(--main-div-menu);
  transition: border-bottom 1s;
}

input#nickname:focus {
  border-bottom: 2px solid #f5f500;
  transition: border-bottom 1s;
}

/*find section*/
input#find {
  border: none;
  background-color: var(--main-div-menu);
  margin: 5%;
  margin-left: 1%;
  border-bottom: 2px solid darkgray;
}

input#find:focus {
  border-bottom: 2px solid #f5f500;
  transition: border-bottom 1s;
}

/*contacts*/
div.contact {
  background-color: rgb(25, 238, 167);
  cursor: pointer;
  height: 90px;
  margin: 0;
  border-bottom: 2px solid var(--main-bg-color);
}

div.contact p {
  margin: 0;
  padding: 2%;
}

div.contact:hover {
  background-color: aquamarine;
}
